* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

.navbar-brand {
  width: 6rem; }

/*barra de navegacion*/
.nav-item {
  padding-top: 30px; }

ul li {
  list-style: none;
  text-decoration: none; }
  ul li a {
    font-family: "Montserrat", sans-serif;
    color: darkslategrey;
    font-size: 20px;
    text-decoration: none;
    margin: 40px; }
    ul li a:hover {
      background-color: #AAE068;
      border-radius: 20px;
      color: white; }

/*Video*/
.video {
  text-align: center;
  margin: 20px;
  border-radius: 15px; }

/* iconos footer*/
footer img {
  width: 3%;
  top: 2rem;
  right: 2rem; }

/*Decoracion ondas encabezado*/
.custom-shape-divider-top-1610495137 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0; }

.custom-shape-divider-top-1610495137 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px; }

.custom-shape-divider-top-1610495137 .shape-fill {
  fill: #AAE068; }

/*seccion shop*/
#carouselExampleDark {
  font-family: "Montserrat", sans-serif; }

/*seccion contactanos*/
h6 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: darkslategrey; }

.form {
  width: 30rem;
  border: 1px solid #AAE068;
  border-radius: 10px;
  background-color: #AAE068;
  box-shadow: 4px 4px 5px -1px #b7b7b7;
  padding: 30px;
  font-family: "Montserrat", sans-serif;
  margin-left: 22rem; }
  .form .form-label {
    width: 20rem;
    color: white; }

/* Boton enviar contacto*/
.boton-enviar {
  width: 90px;
  height: 30px;
  background-color: #c5f06d;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2); }

.escribenos {
  padding-top: 30px;
  font-family: "Montserrat", sans-serif;
  color: darkslategrey;
  text-align: center; }

/*Seccion nosotros*/
#columnasnosotras {
  background-color: #f9f4e9; }

.proposito-nosotras {
  text-align: center;
  font-size: 1rem;
  padding: 3rem; }

.fotos-nosotras {
  padding-top: 5rem; }

.foto-1 {
  width: 13rem; }

.foto-2 {
  width: 13rem; }

.erika {
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  color: #BB9E7F;
  text-align: center;
  padding-right: 5rem;
  padding-left: 20rem; }

.yenny {
  display: inline-block;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  color: #BB9E7F; }

/* Seccion index*/
#columnasinicio {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 10px;
  -moz-column-gap: 10px;
  column-gap: 10px;
  background-color: #f9f4e9; }

.slogan {
  font-family: "Montserrat", sans-serif;
  color: #bb9e7f;
  padding-top: 12rem;
  padding-left: 3rem;
  padding-bottom: 2rem; }

.proposito {
  font-family: "Montserrat", sans-serif;
  padding-left: 3rem; }

.foto-persona {
  width: 30rem; }

/*seccion blog*/
.tarjetas-blog {
  text-decoration: none; }

.card-title {
  color: olivedrab;
  font-family: "Montserrat", sans-serif; }

.card-text {
  color: darkslategrey;
  font-family: "Quicksand", sans-serif; }

.text-muted {
  font-family: "Quicksand", sans-serif; }
